<div class='field'>
  <%= f.text_field :name, placeholder: 'Name', value: user.name %><br />
</div>
<div class='field' >
  <%= f.password_field :password, placeholder: 'Password' %><br />
</div>
<div class='field'>
  <%= f.password_field :password_confirmation,
  placeholder: 'Password Confirmation' %>
</div><br />