<div class="center">
  <h1><%= (@user.name).titleize %> Profile</h1>
</div>

<br /><%= button_to 'Edit Profile',
  edit_user_path(current_user), method: 'get',
  class: 'btn btn-large btn-primary' %><br />

<%= button_to 'Delete Profile', user_path(current_user), method: 'delete',
  data: { confirm: 'Are you sure you want to remove your profile?' },
  class: 'btn btn-large'%>